.form {
	max-width: 330px;
	padding: 15px 15px 0 15px;
	margin: 0 auto;
}

.form .form-heading,
.form .checkbox {
	margin-bottom: 10px;
}

.form .checkbox {
	font-weight: normal;
}

.form .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form .form-control:focus {
	z-index: 2;
}

.form input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-control {
	margin-bottom: 10px;
}

.form-delete-control {
	max-width: 330px;
	padding: 0 15px;
	margin: 0 auto;
}

.slow-group {
    text-align: center;
    margin-left: -40px;

}

.slow-group li {
    list-style-type: none;
}

.slow-group li input {
    text-align: center;
    width: 200px;
    margin-bottom: 10px;

}

.slow-group li input#amount {
    height: 50px;
    font-size: 30px;
}

#more-amount {
    display: block;
    margin: 0px auto;
    width: 200px;
}